NOWNODES_API_KEY=
SOL_NETWORK=mainnet
SOLANA_RPC_URL=https://sol.nownodes.io/${NOWNODES_API_KEY}
BTC_NETWORK=mainnet
BTC_RPC_URL=https://btc.nownodes.io/
BTC_BLOCKBOOK_URL=https://btcbook.nownodes.io
ETH_NETWORK=mainnet
ETH_RPC_URL=https://eth.nownodes.io/
COREUM_NETWORK=testnet
COREUM_RPC_URL=https://full-node.testnet-1.coreum.dev:26657
COREUM_WS_URL=wss://full-node.testnet-1.coreum.dev:26657
COREUM_DENOM=utestcore
COREUM_FROM_ADDRESS=
COREUM_TO_ADDRESS=
COREUM_MNEMONIC=
PORT=3000
